body{
    background-image: url(./imgs/0.png);
    background-repeat: no-repeat;
    background-position: 100px 60px;
}

.outside{
    background-color: #FFFFFF;
    margin-left: 50%;
    border-radius: 23% 10% 10% 22% / 45% 0% 0% 54%;
    height: 625px;
}


p{
    font-size: 90px;
    font-family: Arial, Helvetica, sans-serif;
    color: #173963;
    margin-left: 35%;
    padding-top: 8%;
}

.email{
    margin-left: 20%;
    margin-right: 10%;
    margin-top: 10%;
}

.senha{
    margin-left: 20%;
    margin-right: 10%;
    margin-top: 2%;
}

.botao{
    margin-top: 10%;
    margin-left: 40%;
    width: 150px;
    
}


