body{
    background: url(./img/0.png),
    url(./img/1.png);
    background-repeat: no-repeat, no-repeat;
    background-position: 1% 1%, 98% 1%;
    background-size: auto, 8%;
}

.cadastreSe{
    background-color: #fff;
    margin-top: 10%;
    border-radius: 51% 49% 0% 0% / 49% 48% 0% 0%;
    width: 1365px;
    height: 520px;
}

h1{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: #173963;
    padding-top: 50px;
    margin-left: 40%;
}

#nome, #senha{
    margin-top: 10%;
    margin-left: 50%;
}

#confirsenha, #grup{
    margin-left: 50%;
    margin-top: 5%;
}

#meno, #confirma{
    margin-left: 15%;
}

#sen, #select{
    margin-left: 20%;
}

button{
    margin-top: 5%;
    margin-left: 45%;
}