
body{
    background: url(./img/0.png),
    url(./img/1.png);
    background-repeat: no-repeat, no-repeat;
    background-position: 1% 3%, 98% 3%;
    background-size: auto, 8%;
}

.cadastreSe{
    background-color: #fff;
    margin-top: 10%;
    border-radius: 51% 49% 0% 0% / 49% 48% 0% 0%;
    width: auto;
    height: 520px;
}

h1{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: #173963;
    padding-top: 50px;
    margin-left: 35%;
}

#nome, #senha{
    margin-top: 10%;
    margin-left: 50%;
}

#confirsenha, #grup{
    margin-left: 50%;
    margin-top: 5%;
}

#meno, #confirma{
    margin-left: 15%;
}

#sen, #select{
    margin-left: 20%;
}

.botao{
    margin-top: 5%;
    margin-left: 43%;
    width: 150px;  
}


@media screen and (max-width: 780px){
    body{
        background: url(./img/0.png),
        url(./img/2.png);
        background-repeat: no-repeat, no-repeat;
        background-size: auto, 50%;
        background-position: 55% 3%, 50% 15%;

    }

    .cadastreSe{
        width: auto;
        height: auto;
        margin-top: 40%;
    }

    h1{
        font-size: 25px;
        margin-left: 24%;
    }
    
    #meno, #confirma{
        margin-left: 10%;
        width: 80%;
        margin-top: 0%;
    }
    
    #sen, #select{
        margin-left: 10%;
        width: 80%;
        margin-top: 0%;
    }

    #nome, #senha{
        margin-top: 5%;
        margin-left: 45%;
    }

    #nome{
        margin-top: 10%;
    }
    
    #confirsenha, #grup{
        margin-left: 40%;
        margin-top: 5%;

    }

    button{
        margin-bottom: 5%;
        margin-top: 5%;
        margin-left: 40%;
    }

}


/*responsivo 1200*/
@media screen and (max-width: 1200px){
    body{
        background: url(./img/0.png),
        url(./img/2.png);
        background-repeat: no-repeat, no-repeat;
        background-size: auto, 30%;
        background-position: 55% 2%, 50% 15%;

    }

    .cadastreSe{
        width: auto;
        height: auto;
        margin-top: 30%;
    }

    
    h1{
        font-size: 25px;
        margin-left: 24%;
    }
    
    #meno, #confirma{
        margin-left: 10%;
        width: 80%;
        margin-top: 0%;
    }
    
    #sen, #select{
        margin-left: 10%;
        width: 80%;
        margin-top: 0%;
    }

    #nome, #senha{
        margin-top: 5%;
        margin-left: 45%;
    }

    #nome{
        margin-top: 10%;
    }
    
    #confirsenha, #grup{
        margin-left: 40%;
        margin-top: 5%;

    }

    button{
        margin-bottom: 5%;
        margin-top: 5%;
        margin-left: 40%;
    }
}