header{
    background-color: #97BFEA;
    height: 100px;
}

.img1{
    height: 60%;
    margin-left: 2.5%;
    margin-top: 1%;
}

.img2{
    height: 113%;
    margin-left: 88%;
    margin-top: -5.5%
}